# Ignore all files
*

# Except for theme-related files
!assets/
!inc/
!parts/
!patterns/
!styles/
!templates/
!theme.json
!functions.php
!README.md
!CLAUDE.md

# Ignore specific untracked files
all-cards-test.html
animated-cards-test.html
shadow-test.html