<!-- wp:template-part {"slug":"header","tagName":"header"} /-->

<!-- wp:group {"tagName":"main","align":"full","style":{"spacing":{"padding":{"top":"var:preset|spacing|16","bottom":"var:preset|spacing|24","left":"var:preset|spacing|6","right":"var:preset|spacing|6"}}},"layout":{"type":"constrained","contentSize":"680px"}} -->
<main class="wp-block-group alignfull" style="padding-top:var(--wp--preset--spacing--16);padding-right:var(--wp--preset--spacing--6);padding-bottom:var(--wp--preset--spacing--24);padding-left:var(--wp--preset--spacing--6)">
    <!-- wp:heading {"level":1,"fontSize":"5xl","style":{"typography":{"fontWeight":"700","lineHeight":"1.1","letterSpacing":"-0.025em"},"spacing":{"margin":{"bottom":"var:preset|spacing|12"}}}} -->
    <h1 class="wp-block-heading has-5-xl-font-size" style="font-weight:700;letter-spacing:-0.025em;line-height:1.1;margin-bottom:var(--wp--preset--spacing--12)">Blog</h1>
    <!-- /wp:heading -->
    
    <!-- wp:shortcode -->
    [posts_by_month]
    <!-- /wp:shortcode -->
</main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","tagName":"footer"} /-->